@font-face {
  font-family: Poppins;
  src: url(./Fonts/Poppins-Bold.ttf) format("opentype");
}
@font-face {
  font-family: Poppins;
  src: url(./Fonts/Poppins-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Inter-Regular;
  src: url(./Fonts/Inter-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Karla-bold;
  src: url(./Fonts/Karla-Bold.ttf) format("opentype");
}


:root{
  --Poppins:"Poppins", sans-serif;
  --PoppinsRegular: "PoppinsRegular", sans-serif ;
  --InterRegular: "InterRegular", sans-serif;
  --KarlaBold: "KarlaBold",sans-serif;
}
.container-card-group{
  display: inline-block;
}
.container-form-i{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.centrar-div{
  z-index: 1;
  margin-top: -64px;
  margin-left: -33vw;
}